.THIS.productImage {
    width:200px;
    height:200px;
}
.THIS {
    background-color:#303030;
    --sds-c-input-text-color: black;
    color: white;
}
.THIS.pointer {
    cursor: pointer;
}
#container.THIS {
    width: 1200px;
}
.THIS .slds-form-element__label {
    color :  white ;
}